# Web Crawler API Onibus Rio

### version: v01
* Busca conteúdo da API da Prefeitura do Rio de 60 em 60 segundos.
* Salva arquivo a cada 60 segundos com formato YYYYMMDD_HHMMSS.json

### version: v02
* Definir se realizará um append dos dados em único arquivo por dia, ou processar todos os arquivos gerados ao longo do dia para criar apenas um.

### version: v03
* Definir como será a inserção dos dados no banco de dados.

In [1]:
%config IPCompleter.greedy=True

In [2]:
import requests as req
import json
import time
import pandas as pd

In [3]:
def window_wait():
    time.sleep(60);

* cria arquivo com nome do dia
* salva colunas
* itera os dados

In [5]:
continua=1
while (continua==1):
    try:
        response = req.get('http://dadosabertos.rio.rj.gov.br/apiTransporte/apresentacao/rest/index.cfm/obterTodasPosicoes')
        response.apparent_encoding
        json_api = response.json()
        json_header = json_api['COLUMNS']
        json_data = json_api['DATA']
        time_now = time.strftime('%Y%m%d_%H%M%S')
        for busdata in json_data:
            with open('./datario_onibus2.json', 'a') as f:
                json.dump(json_data, f)
    except runError as r:
        #timeout = 1.0
        print (r)
        print ('aguardar')
        window_wait()
        pass
    finally:
        window_wait()
        pass

NameError: name 'runError' is not defined

In [8]:
response = req.get('http://dadosabertos.rio.rj.gov.br/apiTransporte/apresentacao/rest/index.cfm/obterTodasPosicoes')
json_api = response.json()
json_header = json_api['COLUMNS']
json_data = json_api['DATA']
datario_content = pd.DataFrame(json_data,columns=json_header)
datahora = pd.to_datetime(datario_content['DATAHORA'])
datario_content['DATAHORA'] = datahora
duplicated_found = datario_content.duplicated(subset=['DATAHORA', 'ORDEM'],keep=False).sum()
datario_content_dup=datario_content.drop_duplicates(keep=False)
datario_content.head()

             DATAHORA   ORDEM LINHA   LATITUDE  LONGITUDE  VELOCIDADE
0 2019-03-17 00:02:19  D53564       -22.884010 -43.496181         0.0
1 2019-03-17 00:11:12  A29133       -22.868460 -43.292191         0.0
2 2019-03-17 00:11:45  D13271   926 -22.883421 -43.552509         0.0
3 2019-03-17 00:13:23  A27548   433 -22.920271 -43.255779         0.0
4 2019-03-17 00:21:25  A27519       -22.920780 -43.256241         0.0

In [9]:
datario_content_dup.head()

             DATAHORA   ORDEM LINHA   LATITUDE  LONGITUDE  VELOCIDADE
0 2019-03-17 00:02:19  D53564       -22.884010 -43.496181         0.0
1 2019-03-17 00:11:12  A29133       -22.868460 -43.292191         0.0
2 2019-03-17 00:11:45  D13271   926 -22.883421 -43.552509         0.0
3 2019-03-17 00:13:23  A27548   433 -22.920271 -43.255779         0.0
4 2019-03-17 00:21:25  A27519       -22.920780 -43.256241         0.0